.home-container {
    text-align: center;
    padding: 20px;
    background-color: #f0f5ff;
    min-height: 100vh;
  }
  
  .hero {
    background: url("../assets/hospital-banner.jpg") center/cover no-repeat;
    color: white;
    padding: 50px 20px;
    font-size: 1.5rem;
  }
  
  .home-sections {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  